extends layout

block content
  nav.navbar.navbar-inverse
    .container
      .navbar-header
        a(href="#").navbar-brand Simple Blog
      ul.nav.navbar-nav.navbar-right
        li
          a(href='#') See all posts
        li
          a(href='/new_post') Create a new post
  
  //Main container
  .container(ng-controller='MainCtrl')
    h1 See all the Posts
    .col-md-4(ng-repeat= 'post in posts | orderBy: "-date"')  
      h2 Post number {{$index+1}}
      h3 {{post.title}}
      h4 {{post.author}}
      h5 {{post.description}}
      h5 {{post.date | date:'fullDate'}}
      a(href='#' ng-click='deletePost(post._id)') Delete Post 
      span |   
      a(href='#' ng-click='isClicked = !isClicked') Details...
      #commentsdiv(ng-show='isClicked')
        h5 Comments:
        div(ng-repeat='comment in post.comments | orderBy: "-date"')
          div.well
            span Comment: {{comment.body}}
            br 
            span Date: {{comment.date |date:'fullDate'}}
            br
            a(href='#' ng-click='deleteComment(post._id, comment._id)') Delete comment
        form(ng-submit='addComment(post._id)')
          .form-group
            label(for='comment') Comment
            textarea.form-control(rows='5', name='comment', ng-model='formData.comment')
          button.btn.btn-primary(type='submit') Submit


         
