extends layout

block content
  nav.navbar.navbar-inverse
    .container
      .navbar-header
        a(href="/").navbar-brand Simple Blog
      ul.nav.navbar-nav.navbar-right
        li
          a(href='/') See all posts
        li
          a(href='/new_post') Create a new post
  .container(ng-controller='MainCtrl')
    h1 Create a new Post
    form(ng-submit='createNewPost()')
      .form-group
        label(for='title') Title:
        input.form-control(type='text', name='title', required, ng-model='formData.title')
      .form-group
        label(for="author") Author:
        input.form-control(type='text', name='author', required, ng-model='formData.author')
      .form-group
        label(for='description') Description:
        textarea.form-control(rows='7', name='description', ng-model='formData.description')
      button.btn.btn-primary(type='submit') Submit
